*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}
body{
    max-width: 1366px;
    width: 100%;
}
/* AQUI COMEÇA A HEADER */
header{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 23rem;
    background-image: url(./img/star-war-header.png);
    background-size: cover;
    background-position: center;
}
.logo{
    width: 80%;
    height: 23rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.star img{
    width: 250px;
    position: absolute;
    top: 12rem;
    right: 54%;
}
.kylo-ren img{
    width: 600px;
    position: absolute;
    top: 0;
    right: 31%;
    z-index: 1;
    transition: 1s all;
}
.wars img{
    width: 250px;
    position: absolute;
    top: 12.5rem;
    right: 22%;
}
.config-box{
    width: 8rem;
    height: 6rem;
    margin-left: -9.5rem;
}
.title{
    display: flex;
    align-items: flex-end;
}
.title h1{
    width: 3rem;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}
.title a{
    width: 6.5rem;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}
.line{
    width: 100%;
    height: 3px;
    background-color: #000;
    margin: 10px auto;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pgfs{
    display: flex;
    align-items: center;
}
.pgf01{
    font-size: 20px;
    font-weight: 700;
}
.pgf02{
    font-size: 16px;
}
.buttons button{
    width: 25px;
    border: none;
    box-shadow: 2px 2px 5px #000;
    font-weight: 700;
    cursor: pointer;
}
/* AQUI COMEÇA A MAIN */
main{
    width: 100%;
}
/* AQUI COMEÇA SECTION 01 */
.section01{
    width: 100%;
    height: 53rem;
    background-image: url(./img/star-wars-robot.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.subsection01{
    width: 100%;
    height: 24.4rem;
    padding-right: 5rem;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.red-box{
    width: 16rem;
    height: 24.4rem;
    margin-right: 7rem;
    background-image: url(./img/red-backgound.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    top: -1rem;
    z-index: 1;
}
.red-box h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2rem 4rem;
}
.red-box p{
    text-align: center;
    font-weight: 300;
    padding: 0 1rem;
}
.red-box button{
    display: block;
    margin: 1rem auto;
    padding: .5rem 2rem;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.red-box small{
    display: block;
    margin: 0 2rem;
    text-align: right;
}
.white-box{
    width: 39.6rem;
    height: 10.4rem;
    display: flex;
    justify-content: right;
    position: relative;
    top: -1rem;
}
.text-box{
    width: 22.5rem;
    height: 10.4rem;
    padding: 0 10px;
}
.text-box h2{
    text-align: right;
    font-size: 22px;
    text-transform: uppercase;
}
.text-box-line{
    width: 25%;
    height: 3px;
    margin-left: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #000;
}
.text-box p{
    text-align: right;
    font-size: 13px;
}
.battle-front img{
    width: 17.1rem;
    height: 10.4rem;
}
.middle-line-bar{
    width: 80%;
    height: .25rem;
    margin: 2rem auto;
    background-image: url(./img/nebulosa.png);
    background-position: center;
}
.subsection02{
    width: 100%;
    height: 24.4rem;
    padding-right: 5rem;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.lord-sith img{
    width: 27rem;
    position: relative;
    bottom: -2.5rem;
    right: -8rem;
}
.game-option{
    width: 27rem;
    height: 22rem;
    position: relative;
    bottom: 1rem;
    z-index: 1;
}
.game-option h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: right;
    font-weight: 500;
    margin-left: 16rem;
}
.game-option a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
}
.game-option ul{
    text-align: right;
}
.game-option li{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 2rem;
    margin: .5rem auto;
    padding-right: .5rem;
    cursor: pointer;
    transition: 2s all;
}
.rey img{
    width: 13.5rem;
    position: relative;
    bottom: -2.5rem;
}
/* AQUI COMEÇA SECTION 02 */
.section02{
    width: 100%;
    height: 80rem;
    background-color: #333;
}
.section02 h2{
    width: 15rem;
    font-size: 30px;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    padding: 5rem 0rem 2rem;
    position: relative;
    left: 16rem;
}
.container1{
    width: 50rem;
    height: 15rem;
    display: flex;
    position: relative;
    left: 16rem;
}
.photo1{
    width: 25rem;
    height: 15rem;
    overflow: hidden;
    transition: 2s all;
}
.photo1 img{
    width: 25rem;
    height: 15rem;
}
.subcontainer2{
    width: 25rem;
    height: 15rem;
    display: flex;
}
.box1 img{
    display: flex;
    width: 12.43rem;
    height: 7.43rem;
}
.box2 img{
    display: flex;
    width: 12.43rem;
    height: 7.43rem;
}
.photo2, .photo3, .photo4, .photo5{
    height: 7.43rem;
    overflow: hidden;
    transition: 2s all;
}
/* CONTEÚDO ACIMA DA IMAGEM */
/* ABOUT 1 PHOTO */
.about0{
    width: 25rem;
    height: 15rem;
    margin-top: -30.3rem;
    background-image: url(./img/nebulosa.png);
    background-position: 0 0;
    background-size: 300%;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
    padding: 1rem;
    opacity: .5;
    transition: 1s all;
}
.vertical-left0{
    width: 2px;
    height: 3rem;
    background-color: #fff;
    position: relative;
    left: -0.5rem;
    top: -0.5rem;
}
.horizontal-left0{
    width: 3rem;
    height: 2px;
    background-color: #fff;
    position: relative;
    left: -0.5rem;
    top: -3.5rem;
}
.about0 h4{
    font-size: 24px;
    text-transform: uppercase;
    margin-top: -2rem;
    margin-left: 1rem;
}
.about0 p{
    font-size: 20px;
    font-weight: 300;
    margin: 1.1rem 1rem;
}
.about0 button{
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    margin-left: -0.5rem;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}
.vertical-right0{
    width: 2px;
    height: 3rem;
    background-color: #fff;
    position: relative;
    left: 23.1rem;
    top: -3rem;
}
.horizontal-right0{
    width: 3rem;
    height: 2px;
    background-color: #fff;
    position: relative;
    left: 20.14rem;
    top: -3.15rem;
}
/* ABOUT 4 PHOTOS */
.about{
    width: 12.43rem;
    height: 7.43rem;
    margin-top: -14.86rem;
    background-image: url(./img/nebulosa.png);
    background-position: 0 0;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
    padding: 1rem;
    opacity: .5;
    transition: 1s all;
}
.vertical-left{
    width: 2px;
    height: 3rem;
    background-color: #fff;
    position: relative;
    left: -0.5rem;
    top: -0.5rem;
}
.horizontal-left{
    width: 3rem;
    height: 2px;
    background-color: #fff;
    position: relative;
    left: -0.5rem;
    top: -3.5rem;
}
.about h4{
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -3.1rem;
}
.about p{
    font-size: 10px;
    font-weight: 300;
    margin: .4rem 0;
}
.about button{
    width: 5rem;
    height: 1.5rem;
    background-color: transparent;
    margin-left: -0.5rem;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}
.vertical-right{
    width: 2px;
    height: 3rem;
    background-color: #fff;
    position: relative;
    left: 10.77rem;
    top: -3rem;
}
.horizontal-right{
    width: 3rem;
    height: 2px;
    background-color: #fff;
    position: relative;
    left: 7.77rem;
    top: -3.15rem;
}
/* FIM DOCONTEÚDO ACIMA DA IMAGEM */
.container2{
    width: 50rem;
    height: 28rem;
    margin: 2rem 0 1rem;
    position: relative;
    left: 16rem;
}
.container2 img{
    width: 50rem;
    height: 28rem;
}
.legend p{
    text-align: right;
    width: 34rem;
    font-size: 12px;
    color: #fff;
    position: relative;
    left: 32rem;
}
/* AQUI COMEÇA SECTION 03 */
.section03{
    width: 100%;
    height: 23rem;
    display: flex;
    justify-content: center;
}
.sec03-container1 img{
    width: 20rem;
    margin-top: -15rem;
}
.sec03-container2{
    margin-top: -8rem;
}
.sec03-container2 h2{
    width: 15rem;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.steps{
    width: 40rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
}
.box-button{
    width: 10rem;
    height: 2rem;
    overflow: hidden;
    transition: 2s all;
}
.hidden-box{
    width: 10rem;
    height: 2rem;
    background-image: url(./img/nebulosa.png);
    background-position: center;
    opacity: .5;
    position: relative;
    top: -2rem;
    right: -10rem;
    transition: 2s all;
}
.step1, .step2, .step3{
    text-align: center;
    width: 10rem;
}
.step1 h3, .step2 h3, .step3 h3{
    font-weight: 100;
}
.step1 button, .step2 button, .step3 button{
    width: 10rem;
    height: 2rem;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}
.step1 p, .step2 p, .step3 p{
    text-align: center;
    width: 10rem;
    height: 3.5rem;
    font-weight: 300;
}
.line-bar{
    width: 50%;
    height: 3px;
    background-color: #000;
    margin: 0 auto;
}
/* AQUI COMEÇA A FOOTER */
footer{
    display: flex;
    width: 100%;
    height: 30rem;
}
.contact{
    background-image: url(./img/nebulosa.png);
    background-size: cover;
    background-position: left;
    width: 60%;
    height: 100%;
    color: #fff;
    padding-left: 8rem;
}
.contact h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top:2rem;
}
.contact p{
    width: 24rem;
    font-size: 16px;
    font-weight: 300;
    margin: 1rem 0;
}
.app-download button{
    width: 10rem;
    height: 3rem;
    margin-right: .5rem;
    border: none;
    cursor: pointer;
    opacity: .8;
    background-color: transparent;
}
.play-store{
    background-image: url(./img/GooglePlay.png);
    background-size: contain;
}
.app-store{
    background-image: url(./img/AppStore.png);
    background-size: contain;
}
.last-line{
    width: 57%;
    height: 3px;
    background-color: #fff;
    margin: 2rem 0;
}
.contact img{
    width: 8rem;
}
.copyright{
    width: 40%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
}
.darth-vader img{
    width: 26rem;
    margin-left: -7rem;
}
.copyright p{
    font-size: 14px;
    width: 20rem;
    margin-left: -10rem;
    margin-bottom: -0.75rem;
}
/* AQUI COMEÇA O HOVER */
.kylo-ren img:hover{
    transform: scale(1.1);
}
.game-option li:hover{
    background-image: url(./img/nebulosa.png);
    opacity: 0.7;
    color: #fff;
}
.photo1:hover .about0{
    margin-top: -15.3rem;
}
.photo2:hover .about, .photo3:hover .about, .photo4:hover .about, .photo5:hover .about{
    margin-top: -7.43rem;
}
.box-button:hover{
    box-shadow: 5px 5px 20px #350958;
}
.box-button:hover .hidden-box{
    right: 0rem;
    z-index: 99;
}
.step1:hover h3, .step2:hover h3, .step3:hover h3{
    font-weight: 700;
}
.step1:hover .line-bar, .step2:hover .line-bar, .step3:hover .line-bar{
    background-image: url(./img/nebulosa.png);
    background-position: center;
}
.app-download button:hover{
    opacity: 1;
}
/* AQUI COMEÇA O RESPONSIVO */
@media (max-width:1266px){
    .star img{
        right: 55%;
    }
    .kylo-ren img{
        right: 29.5%;
    }
    .wars img{
        right: 19.5%;
    }
    .config-box{
        margin-left: -7.5rem;
    }
    .subsection01, .subsection02{
        padding-right: 4em;
    }
    .red-box{
        margin-right: 5rem;
    }
    .lord-sith img{
        right: -10rem;
    }
    .section02 h2{
        left: 14rem;
    }
    .container1{
        left: 14rem;
    }
    .container2{
        left: 14rem;
    }
}
@media (max-width:1166px){
    .star img{
        right: 55.5%;
    }
    .kylo-ren img{
        right: 27.5%;
    }
    .wars img{
        right: 16.5%;
    }
    .config-box{
        margin-left: -5rem;
    }
    .subsection01,  .subsection02{
        padding-right: 3rem;
    }
    .red-box{
        margin-right: 3rem;
    }
    .lord-sith img{
        right: -11rem;
    }
    .section02 h2{
        left: 12rem;
    }
    .container1{
        left: 12rem;
    }
    .container2{
        left: 12rem;
    }
    .copyright p{
        margin-left: -15rem;
    }
}
@media (max-width:1066px){
    .star img{
        right: 56%;
    }
    .kylo-ren img{
        right: 25.5%;
    }
    .wars img{
        right: 13.5%;
    }
    .config-box{
        margin-left: -3.5rem;
    }
    .subsection01, .subsection02{
        padding-right: 2rem;
    }
    .red-box{
        margin-right: 1rem;
    }
    .lord-sith img{
        right: -13rem;
    }
    .section02 h2{
        left: 7rem;
    }
    .container1{
        left: 7rem;
    }
    .container2{
        left: 7rem;
    }
    .section02 p{
        left: 24rem;
    }
}
@media (max-width:966px){
    .star img{
        right: 56.5%;
    }
    .kylo-ren img{
        right: 23%;
    }
    .wars img{
        right: 10%;
    }
    .config-box{
        margin-left: -2rem;
    }
    .section01{
        height: 47.7rem;
    }
    .subsection01, .subsection02{
        height: 21.96rem;
        padding-right: 1rem;
    }
    .red-box{
        transform: scale(.9);
        right: -1rem;
        top: -0.25rem;
    }
    .white-box{
        transform: scale(.9);
        right: -2rem;
        width: 37.6rem;
    }
    .lord-sith img{
        transform: scale(.9);
        bottom: -3rem;
        right: -15.5rem;
    }
    .game-option{
        transform: scale(.9);
        right: -2.75rem;
    }
    .rey img{
        transform: scale(.9);
        bottom: -3rem;
        right: -0.5rem;
    }
    .section02{
        height: 75rem;
    }
    .section02 h2{
        left: 4rem;
    }
    .container1{
        left: 4rem;
    }
    .container2{
        left: 4rem;
    }
    .section02 p{
        left: 20rem;
    }
    .section03{
        transform: scale(.9);
    }
    .contact{
        padding-left: 4rem;
    }
    .copyright p{
        font-size: 14px;
        margin-left: -18rem;
    }
}
@media (max-width:866px){
    .star img{
        right: 56.5%;
    }
    .kylo-ren img{
        right: 19.5%;
    }
    .wars img{
        right: 4.5%;
    }
    .config-box{
        margin-left: 0.5rem;
    }
    .red-box{
        right: -4rem;
    }
    .white-box{
        width: 35.9rem;
    }
    .text-box p{
        font-size: 12px;
    }
    .text-box-line{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .game-option{
        transform: scale(.7);
        right: -5.55rem;
    }
    .lord-sith img{
        right: -20rem;
    }
    .section02{
        height: 57rem;
    }
    .section02 h2{
        left: 9.5rem;
    }
    .container1{
        transform: scale(.7);
        left: 2rem;
        top: -2.3rem;
    }
    .container2{
        transform: scale(.7);
        left: 2rem;
        top: -8.3rem;
    }
    .section02 p{
        left: 10.5rem;
        top: -12rem;
    }
    .section03{
        transform: scale(.75);
    }
    .contact p{
        font-size: 12px;
        width: 18rem;
    }
    .app-download{
        transform: scale(.75);
        margin-left: -3.5rem;
    }
    .last-line{
        width: 70%;
    }
    .copyright p{
        font-size: 12px;
        margin-left: -17rem;
    }
}
@media (max-width:766px){
    header{
        height: 17rem;
    }
    .logo{
        height: 19rem;
    }
    .star img{
        right: 51.5%;
        top: 8rem;
        transform: scale(.75);
    }
    .kylo-ren img{
        right: 14.5%;
        transform: scale(.75);
        top: -4rem;
    }
    .wars img{
        right: 7.5%;
        top: 8.5rem;
        transform: scale(.75);
    }
    .config-box{
        margin-left: -2.5rem;
        margin-bottom: -0.75rem;
        transform: scale(.75);
    }
    .section01{
        height: 39.75rem;
    }
    .subsection01, .subsection02{
        height: 18.3rem;
    }
    .red-box{
        transform: scale(.75);
        right: -9rem;
        top: 2rem;
    }
    .white-box{
        transform: scale(.75);
        right: -4.5rem;
        top: 0.25rem;
    }
    .lord-sith img{
        transform: scale(.75);
        right: -24rem;
        bottom: -4.5rem;
    }
    .game-option{
        right: -7.6rem;
    }
    .rey img{
        transform: scale(.75);
        right: -1.5rem;
        bottom: -4.5rem;
    }
    .section02 h2{
        left: -1rem;
    }
    .container1{
        left: -1rem;
    }
    .container2{
        left: -1rem;
    }
    .section02 p{
        left: 7rem;
    }
    .kylo-ren img:hover{
        transform: scale(.76);
    }
    .darth-vader img{
        margin-left: -8rem;
        transform: scale(.9);
    }
    .copyright p{
        margin-left: -16rem;
        margin-bottom: 0.5rem;
        width: 17rem;
        font-size: 10px;
    }
}
@media (max-width:720px){
    .star img{
        right: 51.5%;
    }
    .kylo-ren img{
        right: 12%;
    }
    .wars img{
        right: 4.5%;
    }
    .config-box{
        margin-left: -2rem;
    }
    .game-option{
        right: -9rem;
    }
    .lord-sith img{
        right: -26rem;
    }
    .section02{
        height: 52rem;
    }
    .section03{
        transform: scale(.6);
        height: 15rem;
    }
    .sec03-container2 h2{
        margin-top: -5rem;
    }
    .contact{
        padding-left: 3rem;
    }
    .darth-vader{
        margin-left: -3.5rem;
        margin-bottom: 3.5rem;
        transform: scale(.75);
    }
    .copyright p{
        width: 15rem;
        font-size: 10px;
        margin-left: -13rem;
        margin-bottom: 7rem;
    }
}
@media (max-width:680px){
    .star img{
        right: 52%;
    }
    .kylo-ren img{
        right: 10%;
    }
    .wars img{
        right: 2%;
    }
    .config-box{
        margin-left: -1rem;
    }
    .red-box{
        right: -11rem;
    }
    .game-option{
        right: -10rem;
    }
    .lord-sith img{
        right: -27rem;
    }
    .section02 h2{
        left: 5rem;
    }
    .container1{
        top: -4rem;
        left: -3rem;
        transform: scale(.6);
    }
    .container2{
        top: -13rem;
        left: -3rem;
        transform: scale(.6);
    }
    .section02 p{
        top: -19rem;
        left: 6.5rem;
        transform: scale(.8);
    }
    .contact{
        padding-left: 2rem;
    }
    .copyright p{
        margin-left: -14rem;
    }
}
@media (max-width:660px){
    .section02{
        height: 90rem;
    }
    .section02 h2{
        left: 11rem;
    }
    .container1{
        width: 25rem;
        height: 76rem;
        top: -10rem;
        left: 8rem;
        flex-direction: column;
        transform: scale(.75);
    }
    .photo1{
        overflow: hidden;
    }
    .subcontainer2{
        display: block;
        transform: scale(2);
        position: relative;
        top: 7rem;
        left: 6.25rem;
        margin-top: .5rem;
        width: 12.5rem;
    }
    .photo2, .photo3, .photo4, .photo5{
        overflow: hidden;
    }
    .about p{
    width: 1rem;
    height: 2rem;
    padding: 0 6rem;
    margin-left: -6rem;
    margin-bottom: 1.1rem;
}
    .container2{
        top: -30rem;
        left: -4.5rem;
        transform: scale(.37);
    }
    .section02 p{
        top: -40rem;
        left: 9rem;
        width: 23rem;
    }
}
@media (max-width:650px){
    .star img{
        right: 52%;
    }
    .kylo-ren img{
        right: 8%;
    }
    .wars img{
        right: 0%;
    }
    .config-box{
        margin-left: -0.5rem;
    }
    .red-box{
        right: -12rem;
    }
    .white-box{
        width: 34.5rem;
        right: -5rem;
    }
    .lord-sith img{
        right: -27rem;
    }
    .game-option{
        right: -9rem;
    }
    .rey img{
        right: -1.5rem;
    }
    .contact{
        width: 59%;
    }
    .contact p{
        width: 15rem;
    }
    .darth-vader img{
        margin-left: -6rem;
    }
    .copyright p{
        margin-left: -16.25rem;
        margin-bottom: 6rem;
    }
}
@media (max-width:600px){
    header{
        height: 11.75rem;
    }
    .logo{
        height: 11.75rem;
    }
    .star img{
        right: 44.5%;
        top: 5rem;
        transform: scale(.5);
    }
    .kylo-ren img{
        right: 3%;
        transform: scale(.5);
        top: -7rem;
    }
    .wars img{
        right: 6.5%;
        top: 5.5rem;
        transform: scale(.5);
    }
    .config-box{
        margin-left: -4.5rem;
        margin-bottom: -1.5rem;
        transform: scale(.5);
    }
    .section01{
        height: 27rem;
    }
    .subsection01{
        height: 24.4rem;
        padding-right: 5rem;
        display: flex;
        flex-direction: column;
        height: 38rem;
    }
    .red-box{
        top: 0rem;
        right: -5rem;
        padding-bottom: 3rem;
    }
    .white-box{
        flex-direction: column-reverse;
        align-items: flex-end;
        right: -6.5rem;
        top: -3rem;
    }
    .middle-line-bar{
        margin-top: 0;
        margin-bottom: 0;
    }
    .subsection02{
        height: 11rem;
    }
    .lord-sith img{
        transform: scale(.5);
        bottom: -10rem;
        right: -30.5rem;
    }
    .game-option{
        transform: scale(.5);
        bottom: -7rem;
        right: -14.25rem;
    }
    .rey img{
        transform: scale(.5);
        bottom: -10rem;
    }
    .section02{
        margin-top: 24rem;
    }
    .section02 h2{
        top: -2rem;
        left: 9rem;
    }
    .container1{
        top: -12.5rem;
        left: 6rem;
    }
    .container2{
        top: -30rem;
        left: -6.5rem;
    }
    .section02 p{
        left: 7rem;
    }
    .kylo-ren img:hover{
        transform: scale(.51);
    }
    .section03{
        height: 16rem;
    }
    footer{
        flex-direction: column;
        height: 55rem;
    }
    .contact{
        width: 100%;
        padding-left: 7rem;
        height: 40rem;
    }
    .app-download{
        margin: 0 auto;
    }
    .last-line{
        width: 80%;
    }
    .contact img{
        position: relative;
        left: 40%;
        transform: translateX(-50%);
    }
    .contact p{
        width: 25rem;
        font-size: 16px;
        font-weight: 300;
        margin: 1rem 0;
    }
    .copyright{
        height: 5rem;
    }
    .darth-vader{
        margin-bottom: -15rem;
        margin-left: 13rem;
    }
    .copyright p{
        margin-bottom: -10rem;
        margin-left: -15rem;
    }
}
@media (max-width:580px){
    .star img{
        right: 44.5%;
    }
    .kylo-ren img{
        right: 1.5%;
    }
    .wars img{
        right: 5%;
    }
    .config-box{
        margin-left: -4.5rem;
    }
    .section03{
        margin-top: 8rem;
        margin-left: -9rem;
        transform: scale(1);
    }
    .sec03-container1{
        margin-top: 2rem;
    }
    .section03 h2{
        margin-left: 0.5rem;
    }
    .steps{
        width: 12rem;
        flex-direction: column;
        margin-left: 1rem;
        margin-top: 3rem;
    }
    .step1, .step2, .step3{
        margin-bottom: 2rem;
    }
    footer{
        margin-top: 3rem;
    }
}
@media (max-width:540px){
    .star img{
        right: 44%;
    }
    .kylo-ren img{
        right: -2%;
    }
    .wars img{
        right: 2%;
    }
    .config-box{
        margin-left: -4rem;
    }
    .lord-sith img{
        right: -34rem;
    }
    .section03{
        margin-left: -7rem;
    }
    .contact{
        padding-left: 6rem;
    }
    .contact p{
        font-size: 12px;
        width: 23rem;
    }
    .copyright{
        margin-left: -5rem;
    }
}
@media (max-width:500px){
    .star img{
        right: 44%;
    }
    .kylo-ren img{
        right: -6%;
    }
    .wars img{
        right: -2%;
    }
    .config-box{
        margin-left: -3rem;
    }
    .lord-sith img{
        right: -35rem;
    }
    .game-option{
        right: -14rem;
    }
    .rey img{
        right: -4rem;
    }
    .section02{
        margin-top: 24rem;
    }
    .section02 h2{
        left: 7rem;
    }
    .container1{
        left: 3rem;
    }
    .container2{
        left: -9.5rem;
    }
    .section02 p{
        left: 4rem;
    }
    .section03{
        margin-left: -5rem;
    }
    .contact p{
        width: 20rem;
    }
}
@media (max-width:470px){
    .star img{
        right: 43%;
    }
    .kylo-ren img{
        right: -10%;
    }
    .wars img{
        right: -6%;
    }
    .config-box{
        margin-left: -2rem;
    }
    .game-option{
        width: 26rem;
    }
}
@media (max-width:450px){
    .star img{
        right: 43%;
    }
    .kylo-ren img{
        right: -12.5%;
    }
    .wars img{
        right: -8%;
    }
    .config-box{
        margin-right: -1rem;
    }
    .section03{
        margin-left: -4rem;
    }
    .sec03-container2{
        transform: scale(.75);
        margin-top: -12rem;
        margin-left: -2rem;
    }
    .copyright{
        margin-left: -12rem;
    }
}
@media (max-width:420px){
    header{
        height: 5.75rem;
    }
    .logo{
        height: 5.75rem;
    }
    .star img{
        right: 32.75%;
        top: 1.4rem;
        transform: scale(.25);
    }
    .kylo-ren img{
        right: -17.5%;
        transform: scale(.25);
        top: -10.8rem;
    }
    .wars img{
        right: 6%;
        top: 1.55rem;
        transform: scale(.25);
    }
    .config-box{
        margin-left: -6rem;
        margin-bottom: -3rem;
    }
    .subsection02{
        height: 9rem;
    }
    .lord-sith img{
        transform: scale(.4);
        bottom: -10.5rem;
    }
    .game-option{
        transform: scale(.4);
        bottom: -7.5rem;
        right: -16.5rem;
    }
    .rey img{
        transform: scale(.4);
        bottom: -10.5rem;
    }
    .section02{
        margin-top: 21rem;
    }
    .section02 h2{
        left: 4rem;
    }
    .container1{
        left: 1rem;
    }
    .container2{
        left: -11.5rem;
    }
    .section02 p{
        left: 2rem;
    }
    .kylo-ren img:hover{
        transform: scale(.26);
    }
    .contact{
        padding-left: 4rem;
    }
    .contact p{
        width: 18rem;
    }
}
@media (max-width:400px){
    .star img{
        right: 30.5%;
    }
    .kylo-ren img{
        right: -22.5%;
    }
    .wars img{
        right: 2%;
    }
    .section02 h2{
        left: 3rem;
    }
    .container1{
        top: -22rem;
        left: 0rem;
        transform: scale(.5);
    }
    .container2{
        top: -52rem;
        left: -12.5rem;
        transform: scale(.25);
    }
    .section02{
        height: 65rem;
    }
    .section02 p{
        top: -63rem;
        left: 1rem;
    }
}
@media (max-width:380px){
    .star img{
        right: 29%;
    }
    .kylo-ren img{
        right: -26.5%;
    }
    .wars img{
        right: -0.25%;
    }
    .config-box{
        margin-left: 0rem;
    }
    .lord-sith img{
        right: -37rem;
    }
    .game-option{
        right: -16.5rem;
    }
    .rey img{
        right: -5rem;
    }
    .contact p{
        width: 15rem;
    }
    .app-download{
        width: 21rem;
        margin-left: -2.5rem;
        display: flex;
        justify-content: space-between;
    }
    .app-store{
        margin-left: 0;
    }
    .last-line{
        margin: 1rem 0;
    }
    .copyright{
        height: 55rem;
        margin-top: -50rem;
    }
}
@media (max-width:360px){
    .star img{
        right: 28%;
    }
    .kylo-ren img{
        right: -30.5%;
    }
    .wars img{
        right: -3.25%;
    }
    .subsection02{
        height: 7.5rem;
    }
    .lord-sith img{
        transform: scale(.3);
        bottom: -11.25rem;
        right: -38.75rem;
    }
    .game-option{
        transform: scale(.3);
        right: -18.5rem;
    }
    .rey img{
        transform: scale(.3);
        bottom: -11.25rem;
    }
    .section02{
        margin-top: 19rem;
    }
    .section02 p{
        left: -2rem;
    }
    .sec03-container2{
        margin-left: -4rem;
    }
}
@media (max-width:340px){
    .star img{
        right: 26.5%;
    }
    .kylo-ren img{
        right: -35.5%;
    }
    .wars img{
        right: -6.25%;
    }
    .section02 h2{
        left: 1rem;
    }
    .container1{
        left: -2rem;
    }
    .container2{
        left: -14.5rem;
    }
    .section02 p{
        left: -2rem;
    }
    .contact{
        padding-left: 3rem;
    }
    .copyright p{
        text-align: right;
        margin-left: -17rem;
        margin-bottom: -11rem;
    }
}
@media (max-width:320px){
    .star img{
        right: 25.5%;
    }
    .kylo-ren img{
        right: -40.5%;
    }
    .wars img{
        right: -9.25%;
    }
    .section02 h2{
        left: 0.5rem;
    }
    .container1{
        left: -2.5rem;
    }
    .container2{
        left: -15rem;
    }
    .section02 p{
        left: -1.5rem;
    }
}
